<mat-toolbar color="primary">
  <a href="/" style="text-decoration: none; color: white">Przepisy</a>
  <div *ngIf="isLogged == true">
    <button mat-flat-button color="primary" (click)="navigateRecipes()">
      All Recipes
    </button>
    <button mat-flat-button color="primary" (click)="navigateForm()">
      Create Recipe
    </button>
    <button mat-flat-button color="primary" (click)="navigateUsers()">
      Users
    </button>
    <!-- <button mat-flat-button color="primary" (click)="navigateFridge()">
      Fridge
    </button> -->
    <button
      *ngIf="admin == true"
      mat-flat-button
      color="primary"
      (click)="navigateIngredients()"
    >
      Ingredients
    </button>
    <button
      mat-flat-button
      color="accent"
      
      class="logout"
    >
      <a href="/goodbye" class="link">Logout</a>
    </button>
  </div>
</mat-toolbar>
