<app-navbar></app-navbar>
<div class="container">
  <mat-spinner *ngIf="spinner == true" class="spinner"></mat-spinner>
  <div class="post" *ngIf="spinner == false">
    <form *ngIf="typeForm == 1">
      <mat-form-field>
        <input
          matInput
          placeholder="Input title"
          [(ngModel)]="recipe.title"
          name="title"
          class="title"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Input description"
          [(ngModel)]="recipe.description"
          name="description"
          class="inputDescription"
        ></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="createRecipe()">
        Add recipe
      </button>
    </form>

    <form *ngIf="typeForm == 0">
      <mat-form-field>
        <input
          matInput
          placeholder="Edit title"
          [(ngModel)]="recipe.title"
          name="title"
          class="title"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Edit description"
          [(ngModel)]="recipe.description"
          name="description"
          class="inputDescription"
        ></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="putRecipe(recipe.id)">
        Apply changes
      </button>
    </form>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let ingredient of recipe.ingredients"
        >{{ ingredient["name"] }}
        <button
          mat-flat-button
          color="primary"
          (click)="deleteIngredient(ingredient)"
        >
          Delete ingredient
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="ingredient" *ngIf="spinner == false">
    <app-ingredient
      (eventIngredient)="selectedIngredient($event)"
    ></app-ingredient>
  </div>
</div>
