<app-navbar></app-navbar>
<mat-spinner *ngIf="spinner == true" class="spinner"></mat-spinner>
<div *ngIf="spinner == false">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container> -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-header>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="vege">
      <th mat-header-cell *matHeaderCellDef mat-header>Vege</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.vege == true">Yes</div>
        <div *ngIf="element.vege == false">No</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-flat-button
          color="primary"
          (click)="navigateUser(element.id)"
        >
          Show User Profile
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button *ngIf="actualPage == 0" mat-flat-button color="primary" disabled>
    Previous Page
  </button>
  <button
    *ngIf="actualPage > 0"
    mat-flat-button
    color="primary"
    (click)="prevPage()"
  >
    Previous Page
  </button>
  <button mat-flat-button color="primary" (click)="nextPage()">
    Next Page
  </button>
  <mat-form-field class="choose">
    <mat-label>Limit on page</mat-label>
    <mat-select [(value)]="actualLimit">
      <mat-option value="10" (click)="getUsers()">10</mat-option>
      <mat-option value="20" (click)="getUsers()">20</mat-option>
      <mat-option value="50" (click)="getUsers()">50</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="actualSort">
      <mat-option value="Title" (click)="getRecipes()">Title</mat-option>
      <mat-option value="Vege" (click)="getRecipes()">Vege</mat-option>
      <mat-option value="Ingredients" (click)="getRecipes()"
        >Ingredients</mat-option
      >
    </mat-select>
  </mat-form-field> -->
</div>
