<app-navbar></app-navbar>
<div class="container">
  <mat-toolbar color="primary">
    <span>Are you vege?</span>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-content>
      <!-- <form
        class="form-container"
        [formGroup]="editDietForm"
        (ngSubmit)="onEditDietSubmit()"
      > -->
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="pickedAnswer">
        <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          style="margin: 10px auto; width: 30%;"
          (click)="onEditDietSubmit()"
        >
          Edit diet
        </button>
      <!-- </form> -->
    </mat-card-content>
  </mat-card>
</div>
