<div class="container">
  <mat-toolbar color="primary">
    <span>Logowanie</span>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-content>
      <form
        class="form-container"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field>
          <input
            matInput
            formControlName="username"
            placeholder="Nick użytkownika"
            type="text"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            formControlName="password"
            placeholder="Hasło"
            type="password"
            autocomplete="off"
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          style="margin: 10px auto; width: 20%;"
          [disabled]="loginForm.invalid"
        >
          ZALOGUJ SIĘ
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div style=" font-size: 12px;">
        Nie posiadasz u nas konta?
        <a href="/register" style="text-decoration: none; color: plum;"
          >Kliknij tutaj i załóż je w 5 sekund!</a
        >
      </div>
    </mat-card-actions>
  </mat-card>
</div>
