<app-navbar></app-navbar>
<form class="example-form">
  <mat-form-field class="example-full-width" style="padding:5px" >
    <input
      matInput
      placeholder="Get ingredient"
      [(ngModel)]="inputIdIngredient"
      name="name"
    />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="getIngredient()" style ="font-size: 10px">
    Show ingredient
  </button>
  <button *ngIf="editButton == false" mat-flat-button color="primary" style ="font-size: 10px" disabled>
    Edit
  </button>
  <button *ngIf="editButton == true" mat-flat-button color="primary" (click)="edit()" style ="font-size: 10px">
    Edit
  </button>
  <button *ngIf="deleteButton == false" mat-flat-button color="primary" style ="font-size: 10px" disabled>
    Delete
  </button>
  <button *ngIf="deleteButton == true" mat-flat-button color="primary" (click)="getIngredient()" style ="font-size: 10px">
    Delete
  </button>
  <button mat-flat-button color="primary" (click)="create()" style ="font-size: 10px">
    Create
  </button>
  <button mat-flat-button color="primary" (click)="submit()" style ="font-size: 10px">
    Submit
  </button>
</form>

<div>
  <mat-card>
      <mat-form-field class="name">
          <input
            matInput
            placeholder="Name"
            [(ngModel)]="ingredient.name"
            name="name"
          />
        </mat-form-field>
      <mat-form-field class="name">
          <input
            matInput
            placeholder="Vege"
            [(ngModel)]="ingredient.vege"
            name="name"
          />
        </mat-form-field>
  </mat-card>
</div>


<form class="example-form">
  <mat-form-field class="example-full-width" style="padding:5px" >
    <input
      matInput
      placeholder="Search for ingredients"
      [(ngModel)]="inputNameIngredient"
      name="name"
    />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="searchIngredients()" style ="font-size: 10px">
    Search
  </button>
</form>

<mat-list *ngIf="list == true" role="list">
  <mat-list-item role="listitem" *ngFor="let ingredient of ingredientsList">{{
    ingredient.name
  }}
  <button mat-flat-button color="primary" class="spaceBetween" (click)="editListIngredient(ingredient)">
    Edit
  </button>
</mat-list-item>
</mat-list>
